* {
    margin: 0;
    padding: 0;
  }

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.woff');
      src: local('☺'), url('fonts/Montserrat-Light.woff') format('woff'), 
       url('fonts/Montserrat-Light.woff') format('truetype'), 
       url('fonts/Montserrat-Light.woff') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.woff');
      src: local('☺'), url('fonts/Raleway-VariableFont_wght.woff') format('woff'), 
       url('fonts/Raleway-VariableFont_wght.woff') format('truetype'), 
       url('fonts/Raleway-VariableFont_wght.woff') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.container {
  max-width: 1920px;
  margin: 0 auto;
}

.content_container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.burger {
  display: none;
  color: lightgray;
  position: relative;
  width: 30px;
  height: 15px;
  margin-left: 10px;
}

.burger_item, .burger::after, .burger::before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  color: inherit;
  border: 1px solid;
  box-sizing: border-box;
}

.burger_item {
  top: 6px;
}

.burger:after {
  top: 12px;
}

.burger:before {
  top: 0px;
}

.burger:hover {
  cursor: pointer;
  color: #c7b299;
}

.header {
  min-height: 1024px;
  padding: 40px 30px 40px;
  background-image: url(img/bg_header.jpg);
  background-color: rgba(17, 17, 17, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header_head {
  max-width: 1230px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header_head_logo {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logo-svg {
  fill: currentColor;
}

.logo-txt {
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  text-align: right;
}

.logo:hover {
  color: #998675;
}

.header_head_logo_title {
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.header_head_nav {
  flex-basis: 70%;
}

.header_head_nav_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
   align-items: flex-end;
}

.header_head_nav_list_item {
  flex-basis: 80px;
  text-align: center;
  list-style-type: none;
}

.header_head_nav_list_item_link {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.header_head_nav_list_item_link:hover, .header_head_nav_list_item_link:focus {
  color: #c7b299;
}

.header_head_nav_list_item  {
  color: #c7b299;
}

.header_head_nav_list_item_link:active {
  opacity: 0.7;
}

.header_head_nav_list_item:last-child {
  margin-right: 0;
}

.header_head_cs {
  display: flex;
}

.header_head_cs_searche, .header_head_cs_cart {
  width: 25px;
  height: 25px;
  background-color: #11ffee00;
  color: #fff;
}

.header_head_cs_searche {
  background-image: url("img/icon_search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
}

.header_head_cs_searche:hover, .header_head_cs_cart:hover, .header_head_cs_cart:focus, .header_head_cs_searche:focus {
  border: 1px solid #c7b299;
}

.header_head_cs_searche:active, .header_head_cs_cart:active {
  border: 1px solid #fff;
}

.header_head_cs_searche:focus {
  width: 200px;
  transition: width 0.8s ease-out;
  background-position: right;
}

.header_head_cs_cart {
  margin-right: 30px;
  background-image: url("img/icon_heder.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header_slider {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.header_slider_arrow {
  width: 40px;
  height: 75px;
  background-color: transparent;
  background-image: url('img/left_slider.svg');
  border:0;
}

.header_slider_arrow:hover, .header_slider_arrow:focus {
  opacity: 0.7;
}

.header_slider_arrow:active {
  opacity: 0.7;
}

.header_slider .arrow-right {
  transform: rotate(180deg);
}

.header_slider_slogan {
  max-width: 600px;
  font-family: "Raleway",sans-serif;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}

.header_slider_slogan_title {
  font-family: "Raleway",sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
}

.header_slider_slogan_header {
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 20px;
}

.header_slider_slogan_text {
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 50px;
}

.header_slider_slogan_button {
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3px;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;

}

.header_slider_slogan_button:hover, .header_slider_slogan_button:focus {
  transition: 0.7s;
  outline: 1px solid #fff;

}

.header_slider_slogan_button:active {
  transition: 0.7s;
  background-color: #fff;
}

.carusel-pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
}

.carusel-pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: gold;
}

.carusel-pagination-item:focus:hover {
  opacity: 0.2;
}

.nam-liber {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.section-profession {
  display: flex;
  justify-content: center;
  margin: 80px auto;
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.features:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color:  #998675;
}

.features:hover .features-icon {
  fill: gold;
}

.features:hover .features-title {
  color: gold;
}

.features:hover:after {
  background-color: gold;
}

.features-icon {
  display: block;
  fill:  #998675;
  margin: 0 0 20px 0;
}

.features-title {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.features-txt {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  padding-bottom: 20px;
  padding-top: 20px;
}

.development {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.development:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #998675;
}

.development:hover .development-icon {
  fill: gold;
}

.development:hover .development-title {
  color: gold;
}

.development:hover:after {
  background-color: gold;
}

.development-icon {
  display: block;
  fill:  #998675;
  margin: 0 0 20px 0;
}

.development-title {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
}

.development-txt {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  padding-bottom: 20px;
  padding-top: 20px;
}

.customization {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.customization:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #998675;
}

.customization:hover .customization-icon {
  fill: gold;
}

.customization:hover .customization-title {
  color: gold;
}

.customization:hover:after {
  background-color: gold;
}

.customization-icon {
  display: block;
  fill:  #998675;
  margin: 0 0 20px 0;
}

.customizationt-title {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
}

.customization-txt {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  padding-bottom: 20px;
  padding-top: 20px;
}

.marketing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.marketing:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color:  #998675;
}

.marketing:hover .marketing-icon {
  fill: gold;
}

.marketing:hover .marketing-title {
  color: gold;
}

.marketing:hover:after {
  background-color: gold;
}

.marketing-icon {
  display: block;
  fill: #998675;
  margin: 0 0 20px 0;
}

.marketing-title {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
}

.marketing-txt {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  padding-bottom: 20px;
  padding-top: 20px;
}

.waxom-ideas{
  width: 100%;
  background: #fbfaf8;
  padding-top: 80px;
  text-align: center;
  max-height: 1000px;
}

.waxom-realization__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
  padding-bottom: 30px;
}

.realization-text {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 5px;
  display: block;
}

.multi_photo {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-height: 400px;
  min-height: 300px;
  background-image: url('img/realization_first.jpg'),
                    url('img/realization_second.jpg'),
                    url('img/realization_third.jpg');

  background-size: 60%, 60%, 60%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}

.ad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  padding: 20px;
  box-sizing: border-box;
  background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}

.ad-wrapper {
  width: 531px;
  margin: 0 470px 0 0;
}

.ad-title {
  width: 100%;
  margin: 0;
  font-size: 28px;
  font-family: "Raleway";
  color: #fff;
  line-height: 1.2;
  text-align: left;
}

.ad-title span {
  color: rgb(199, 178, 153);
}

.ad-txt {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(97, 88, 85);
  line-height: 1.2;
  text-align: left;
}

.ad-button {
  width: 170px;
  min-height: 50px;
  
  border-bottom: 2px solid #736357;
  border-radius: 3px;
  background-color: #998675;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  border: 1px solid transparent;
  outline: none;
}

.ad-button:active {
  color: #998675;
  background-color: white;
}

.ad-button:hover {
  color: #998675;
  background-color: wheat;
}

.ad-button:focus{
  border: 1px solid white;
}

.ad-button-txt {
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.643;
  text-align: center;
}

.our-project {
  padding: 80px 0;
  margin: 0 auto;
  text-align: center;
}

.title-our__project{
  text-align: center;
  font-family: "Raleway",sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 25px;
}

.txt-our__project {
    text-align: center;
    max-width: 760px;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 auto 40px;
}

.project-list-btn {
    display: flex;
    justify-content: center;
    font-family: "Montserrat",sans-serif;
    flex-wrap: wrap;
    width: 70%;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 auto 50px;
}

.list-project-item {
  margin-right: 10px;
  list-style-type: none;
}

.list-project-item-btn {
  width: 120px;
  height: 32px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.list-project-item-btn:active {
  color:white;
  background-color: #998675;
}

.list-project-item-btn:hover{
  color:white;
  background-color: #998675;
}

.list-project-item-btn:focus{
  border: 1px solid white;
}

.project-cart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-cart-item {
    max-width: 370px;
    position: relative;
    background-color: #fbfaf8;
    margin-bottom: 30px;
    transition: transform 1s ease-out;
  }
  
.project-cart-item:hover {
  transform: scale(0.9);
  z-index: 2;
}
    

.projects_list_item_img {
  width: 100%;
  background-color: #8c8c8c;
}

.main {
  margin: 0 auto;
  max-width: 1920px;
}

.project-cart-item {
  list-style-type: none;
}

.projects_list_item_button-link {
  left:150px;
}

.projects_list_item_button-view {
  right:150px ;
}

.projects_list_item_button-link,
.projects_list_item_button-view {
    width: 25px;
    height: 25px;
    display: none;
    background-color: transparent;
    position: absolute;
    top: 110px;
    color: white;
}

.projects_list_item_title {
    font-family: "Raleway",sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    margin-bottom: 15px;
}

.projects_list_item_text{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: white;
}

.projects-cart-item {
    position: relative;
    background-color: inherit;
    padding: 30px;
}

.project-cart-itemt:hover .projects_list_item_button-link {
  display: block;
}

.project-cart-item:hover .projects_list_item_button-view {
  display: block;
}

.project-cart-item:hover .projects_list_item_button-link:hover {
  background-color: white;
}

.project-cart-item:hover .projects_list_item_button-view:hover {
  background-color: white;
}

.project-cart-item:hover .projects_list_item_img {
  filter: brightness(20%);
}

.project-cart-item:hover .projects_list_item_wrapper {
  background-color: #362f2d;
}

.project-cart-item:hover .projects_list_item_wrapper:before {
  border-bottom: 10px solid #362f2d;
}

.projects_list_item_img {
  color: white;
  display: block;
  width: 100%;
}

.projects_list_item_wrapper {
    width: 100%;
    position: relative;
    background-color: #ccc;
}

.projects_list_item_wrapper:before {
  content: "";
  border: 10px solid transparent;	
  border-bottom: 10px solid #ccc;
  position: absolute;
  top: -20px;
  left: 19px;

}

.projects_list_item_title {
  display: block;
  text-align: center;
  padding: 10px 10px 0 10px;
}

.projects_list_item_text {
  display: block;
  text-align: center;
  padding: 5px;
}

.projects_list_item_button-link,
.projects_list_item_button-view {
  width: 20px;
  height: 20px;
  display: none;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 45%
}

.projects_list_item_button-link {
  background-image: url('https://image.flaticon.com/icons/png/512/34/34735.png');
  left: 35%;
}

.projects_list_item_button-view {
  background-image: url('https://static.thenounproject.com/png/101791-200.png');
  right: 35%;
}

.project-btn-bottom{
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3px;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}

.project-btn-bottom:active {
  color: #998675;
  background-color: white;
}

.project-btn-bottom:hover {
  color: #998675;
  background-color: wheat;
}

.project-btn-bottom:focus{
  border: 1px solid white;
}

.back-video {
  position: relative;
}

.video-present {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.present-wrapper {
  padding: 210px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.5);
  text-align: center;
  color: #ffffff;
}

.video-play-btn { 
  z-index: 1;
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin-bottom: 45px;
  border-radius: 50%;
  opacity: 0.8;
  border: none;
}

.video-play-btn-icon {
  margin: auto;
  fill: #fff;
  transition: transform 1s ease-out;
}

.video-play-btn:hover .video-play-btn-icon {
  fill: coral;
  border: 0;
  transform: rotate(360deg);
  width: 100px;
  min-height: 150px;
}

.video-play-btn:active .video-play-btn-icon {
  fill: bisque;
  
}

.title-wrapper-present {
  z-index: 1;
  font-family: "Raleway",sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 30px;
}

.txt-present-wrapper {
      z-index: 1;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 40px;
    max-width: 555px;
}

.container-section-mobile {
  padding-top: 80px;
  max-width: 1230px;
  margin: 0 auto;

}

.mobile-devices-container {
  min-height: 695px;
  background-image: url(img/mobile_devices.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 115px;
  margin-top: 100px;
}

.title-mobile-wrapper {
    font-family: 'Raleway',sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin-bottom: 40px;
}

.txt-mobile-wrapper {
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 45px;
  max-width: 660px;
}

.mobile-device-list-item {
  list-style-type: none;
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
  margin-left: 50px;
}

.mobile-device-list-item::before {
  content: '>';
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #c7b299;
  margin-right: 30px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  transition: transform 1s ease-out;
}

.mobile-device-list-item:hover::before {
 transform: rotate(360deg);
}

.counters {
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding: 70px 0 60px;
  max-width: 1920px;
}

.counters-list {
  display: flex;
  justify-content: space-around;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  animation: 10s linear 2s infinite normal swing;
  transition: all ease-in-out 1s;
}

.counters-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counters-list-item {
    content: '';
    width: 30px;
    border-bottom: 2px solid #fff;
}

.counters-list-item-img {
  margin-bottom: 30px;
}

.counters_list_item_title {
    font-family: 'Montserrat',sans-serif;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.counters_list_item_text {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
  margin-bottom: 30px;
}

.post {
  background-color: #fff;
  padding: 80px 0;
}

.container-post {
  max-width: 1230px;
  margin: 0 auto;
}

.posts_title {
  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  text-align: center;
  margin-bottom: 30px;
}

.post-txt {
  font-weight: 300;
  color: #8c8c8c;
  max-width: 760px;
  margin: 0 auto 40px;
  text-align: center;
}

.post-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-list-item {
  position: relative;
  width: 370px;
  border: 1px solid #f8f8f8;
  margin-bottom: 40px;
  list-style-type: none;
}

.post-list-item-img {
  margin-bottom: 30px;
}

.post-list-item-date {
  width: 50px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.posts-list-item-date-day {
  height: 30px;
  color: white;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  padding-top: 4px;
}

.posts-list-item-date-month {
  height: 25px;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
  font-family: 'Roboto',sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  color: white;
}

.posts-list-item-date-day, 
.posts-list-item-date-month {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

.posts_list_item_title {
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  margin: 0 30px 20px;
}

.posts_list_item_text {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  width: 300px;
  margin: 0 30px 30px;
}

.posts_list_item_button {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  margin: 0 0 35px 30px;
  background-color: transparent;
  opacity: 0.7;
  border: none;
}

.posts_list_item_button:hover,
.posts_list_item_button:focus {
  opacity: 1;
}

.posts_list_item_button:focus {
  border: 1px solid #fff;
}

.posts_list_item_button::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 5px;
  height: 10px;
  background-image: url('img/icon_post_btn.svg');
}

.post-list-item:hover {
  background-color: #362f2d;
}
.post-list-item:hover .post-list-item-img {
  filter: brightness(30%);
}
.post-list-item:hover .posts_list_item_title {
  color: #c7b299;
}
.post-list-item:hover .posts_list_item_text {
  color: #fff;
}
.post-list-item:hover .posts-list-item-date-day {
  background-color: #c7b299;
}
.post-list-item:hover .posts-list-item-date-month {
  background-color: #a48d72;
}

.post-slider {
  text-align: center;
}

.post-slider-btn:first-child {
      margin-right: 10px;
  }
.post-slider-btn:hover,
.post-slider-btn:focus {
      color: #c7b299;
  }
.post-slider-btn:active {
      border: solid #c7b299;
  }

.emblem {
  background-image: url('img/emblem_back_ground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 140px 0;
  }

.container-emblem {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.emblem-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.emblem-list-item {
  list-style-type: none;
  transition: transform 1s ease-out;
}

.emblem-list-item:hover {
  transform: scale(1.5);
}

.partners-list-item-link-img {
  width: 100%;
  
}

.partners-list-item-link:hover .partners-list-item-link-img{
  outline: solid #c7b299;

}
.partners-list-item-link:focus .partners-list-item-link-img{
  outline: solid #c7b299;
}
.partners-list-item-link:active .partners-list-item-link-img{
  outline: solid #fff;
}

.footer {
  background-color: #191919;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 0;
}

.footer-about {
  flex-basis: 22%;
}

.txt-footer-about {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    margin-bottom: 30px;
}

.footer_about_link {
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    text-decoration: none;
}

.footer_about_link::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 5px;
  height: 10px;
  background-image: url('img/icon_post_btn.svg');
}
.footer_about_link:hover,
.footer_about_link:focus {
  color: #c7b299;
}
.footer_about_link:active {
  opacity: 0.7;
}

.footer-about-title {
  font-family: 'Raleway',sans-serif;
  font-size: 34px;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  vertical-align: top;
}

.footer-about-img {
  margin-bottom: 30px;
}

.footer-post {
  flex-basis: 25%;
  padding-top: 20px;
}

.title-footer-post {
  font-family: 'Raleway',sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-post-list-item {
  list-style-type: none;
}

.footer-post-list-item-date {
  font-family: 'Montserrat',sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  margin-bottom: 10px;
}

.footer-post-list-item-txt {
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  margin-bottom: 20px;
}

.footer-post-list-item:hover .footer-post-list-item-date,
.footer-post-list-item:focus .footer-post-list-item-date {
   font-family: 'Montserrat',sans-serif;
   font-size: 12px;
   line-height: 20px;
   font-weight: 300;
   color: #ffffff;
   cursor: pointer;
}
.footer-post-list-item:hover .footer-post-list-item-txt,
.footer-post-list-item:focus .footer-post-list-item-txt {
   font-family: 'Montserrat',sans-serif;
   font-size: 14px;
   line-height: 20px;
   font-weight: 300;
   color: #c7b299;
}
.footer-post-list-item:not(:last-child)::after {
   content: '';
   width: 270px;
   display: inline-block;
   border-bottom: 2px solid #252525;
   margin-bottom: 20px;
}

.footer-twitter {
  flex-basis: 25%;
  padding-top: 20px;
}

.footer-twitter-title {
  font-family: 'Raleway',sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
}

.footer-twitter-list-item {
  list-style-type: none;
}

.footer_twitter_list_item_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}

.footer_twitter_list_item_text_hash {
  color: #00bff3;
}

.footer_twitter_list_item_time {
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
    margin-bottom: 20px;
}

.footer-twitter-list-item:not(:last-child)::after {
  content: '';
  width: 270px;
  display: inline-block;
  border-bottom: 2px solid #252525;
  margin-bottom: 20px;
}

.footer_twitter_list_item_text_link {
  color: #959595;
}

.footer_widgets {
  flex-basis: 25%;
  padding-top: 20px;
}

.footer_widgets_title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 25px;
}

.footer_widgets_list {
  display: flex;
  flex-wrap: wrap;
}

.footer_widgets_list_item {
  list-style-type: none;
  margin: 0 10px 10px 0;
}

.footer_widgets_list_item {
  margin: 0 10px 10px 0;
}
.footer_widgets_list_item_link:hover .footer_widgets_list_item_link_img {
      outline: 1px solid #c7b299;
  }
.footer_widgets_list_item_link:focus .footer_widgets_list_item_link_img {
      outline: 1px solid #c7b299;
  }
.footer_widgets_list_item_link:active .footer_widgets_list_item_link_img{
      opacity: 0.6;
  }

.footer-bottom {
  flex-basis: 100%;
  background-color: #111111;
  padding: 55px 0;
}

.footer_copyright_wrapper {
  display: flex;
  justify-content: space-between;
}

.footer_copyright_list {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer_copyright_list_item, .footer_copyright_right_list_item {
  padding-right: 10px;
  list-style-type: none;
}

.footer_copyright_list_item-name, .footer_copyright_right_list_item-name {
  color: #959595;
}

.footer_copyright_list_item_link:hover,
.footer_copyright_list_item_link:focus {
   color: #c7b299;
}
.footer_copyright_list_item_link:active {
   color: #fff;
}

.footer_copyright_list_item-name {
color: #959595;
}

.footer_copyright_list_item:not(:last-child)::after {
content: '';
padding-left: 10px;
border-right: 1px solid  #252525;
}

.footer_copyright_right_list {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 605px;
  }
  .content_container {
    max-width: 605px;
  }
  .waxom-ideas,
  .ad,
  .back-video,
  .counters,
  .header_head_nav,
  .header_head_cs {
    display: none;
  }
  .burger {
    display: block;
  }
  .mobile-devices {
    padding-top: 30px;
  }
  .mobile-devices-container {
    background-image: none;
    padding-top: 0;
    min-height: 0;
    padding-bottom: 30px;
  }

  .development {
    margin-top: 15px;
  }

  .customization {
    margin-top: 15px;
  }

  .marketing {
    margin-top: 15px;
  }
  
  .services-list {
    margin-bottom: 0;
  }
  .projects {
    padding: 0 30px;
    margin: 30px 0;
  }

  .list-project-item:nth-child(1) {
    margin-top: 4px;
  }

  .list-project-item:nth-child(2) {
    margin-top: 4px;
  }

  .list-project-item:nth-child(3) {
    margin-top: 4px;
  }

  .list-project-item:nth-child(4) {
    margin-top: 4px;
  }

  .list-project-item:nth-child(5) {
    margin-top: 4px;
  }

  .project-cart {
    justify-content: center;
  }
  
  .posts {
    padding: 30px 30px;
  }

  .post-list {
    justify-content: center;
  }

  .partners-list-item-link-img {
    padding: 3px 5px;
  }
  .footer-top {
    justify-content: center;
    width: 60%;
  }
  .footer_copyright {
    padding: 55px 30px 0;
  }
  .footer_copyright_wrapper {
     align-items: center;
  }
  .footer_copyright_wrapper {
     justify-content: center;
  }

  .footer-about {
    flex-basis: 80%;
  }

  .footer_widgets {
    flex-basis: 82%;
    padding-top: 20px;
  }

}